<!DOCTYPE html>
<html ng-app="myApp">

	<!--
	ng-app 지시어는 앵귤러를 로드하고 초기화시킨다.
	앵귤러는 ng-app와 같은 대쉬가 포함된 형태의 작명법을 지원한다.
	html 태그에 ng-app 속성을 부여하면,
	하위 모든 요소는 모두 앵귤러 어플리케이션으로 다뤄진다.
	-->

	<head>

		<meta charset="utf-8">
		<title>My HTML File</title>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
		<script src="app.js"></script>

		

		<!--
		    이 태그는 당연하게도 앵귤러js를 로드하고, 더불어 HTML페이지가 모두 로드된 후에
		    브라우저에 의해 실행되는 콜백을 등록한다.
		    콜백이 실행되면, 앵귤러는 ng-app 지시어를 찾게된다.
		    다이렉티브를 찾으면 ng-app 지시어가 정의된 요소가 존재하는 어플리케이션 DOM의
		    최상위에 부트스트랩을 건다.
		-->

	</head>
	<body>

<div>
    <div ng-controller="myController">
        {{test}}
    </div>
</div>

		<!--
		    여기가 앵귤러js의 핵심이다.
		    {{ 와 }}에 의해 감싸진 부분은 일종의 앵귤러 표현식을 나타낸다.
		    여기에서는 단순하게 yet과 !를 더하는 기능만을 수행한다.
		    앵귤러 표현식은 일종의 자바스크립트 호환 코드 스니펫으로
		    현재 모델 범위 컨텍스트 안에서 앵귤러에 의해 평가된다.
		-->



<div ng-controller="PhoneListController">

검색 : <input type="text" ng-model="searchKeyword"/>
    <!--
    searchKeyword 라는 이름의 앵귤러 모델을 선언해주었다.
    여기에 입력된 내용은 searchKeyword 라는 모델에 자동으로 들어간다. 
    -->

정렬 : 
<!--
<select ng-model="orderProperty">
	<option value="name" selected>이름</option>
	<option value="snippet">설명</option>
	<option value="no">번호</option>
</select>

<select ng-model="orderProperty">
	<option ng-repeat="order in orders" value="{{order.value}}">{{order.label}}</option>
</select>
-->

<select ng-model="orderProperty" ng-options="order.value as order.label for order in orders"></select>




    <!--
    orderProperty 라는 임의의 이름으로 정렬 순서를 정해줄 앵귤러 모델을 선언해 주었다.   
    -->

	<ul>
		<li ng-repeat="phone in phones | filter:searchKeyword | orderBy:orderProperty">
			<span>{{phone.name}}</span>
			<p>{{phone.snippet}}</p>
		</li>
	</ul>
	
	<!--
        비슷한거 같지만, 자세히 살펴보면, filter 가 추가되었다.
        filter 함수는 ng-repeat에 영향을 주게 된다.
        특별히 searchKeyword에 입력된 값에 따라 내용을 필터링해서 보여준다.

        filter 함수가 매칭되는 내용을 찾는 거라면,
        orderBy는 value에 할당된 값과 일치하는 객체의 요소명를 기준으로 정렬한다.
    -->

</div>





<div>-----------------------------------------------------------------</div>


<!-- 앵귤러 뷰 -->    
<div ng-view></div>






	</body>
</html>